/*----------------------------*\
Top header
\*----------------------------*/

#top-header {
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #1E1F29;
}

.header-links li {
    float: left;
    margin-right: 15px;
    font-size: 12px;
}

.header-links li a {
    color: #FFF;
}

.header-links li a:hover {
    color: #ffc451;
}

.header-links li i {
    color: #ffc451;
    margin-right: 5px;
}


/*----------------------------*\
Main header
\*----------------------------*/

.first,
.navColor {
    padding-top: 5px;
    background-color: #15161D;
}

/*----------------------------*\
Logo
\*----------------------------*/
.navbar-brand span {
    color: #ffc451;
}

/*----------------------------*\
Search
\*----------------------------*/
.search-btn {
    width: 100px;
    background: #ffc451;
    color: #FFF;
    font-weight: 700;
    border: none;
    border-radius: 0px 40px 40px 0px;
}

.search-btn:hover {
    background-color: #FFF;
    border-bottom: 6px solid #ffc451;
    color: black;
}

.search-input {
    border-radius: 40px 0px 0px 40px;
}

@media (min-width: 992px) {
    .search-form {
        width: 500px;
    }
}

/*----------------------------*\
Location
\*----------------------------*/
.header-ctn {
    float: right;
}

.header-ctn>div {
    display: inline-block;
}

.header-ctn>div+div {
    margin-left: 15px;
}

.header-ctn>div>a {
    position: relative;
    width: 90px;
    text-align: center;
    color: #FFF;
}

.header-ctn>div>a:hover {
    color: #ffc451;
}

.header-ctn>div>a>i {
    display: block;
    font-size: 18px;
    color: #ffc451;
}

.header-ctn>div>a>span {
    font-size: 12px;
}

@media (max-width: 991.98px) {
    .post {
        display: none;
    }
}