/*--------------------------------------------------------------
# nav 2 
--------------------------------------------------------------*/
@import url("nav2.css");

/*--------------------------------------------------------------
# STEPS 
--------------------------------------------------------------*/
@import url("steps.css");

/*--------------------------------------------------------------
# CATEGORIES
--------------------------------------------------------------*/
@import url("categories.css");

/*--------------------------------------------------------------
# MOST RECENT SECTION
--------------------------------------------------------------*/
@import url("recent.css");

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
@import url("footer.css");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@media (min-width: 767.98px) {
    .te {
        justify-content: center;
    }
}

.name {
    /* text-align: center; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.big {
    height: 90px;
}

.siz {
    height: 40px;
}

.te .nav-item {
    padding: 0px 0px 0px 80px;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

a {
    color: #ffc451;
    text-decoration: none;
}

a:hover {
    color: #ffd584;
    text-decoration: none;
}