#navigation {
    background: #FFF;
    border-bottom: 2px solid #E4E7ED;
    border-top: 3px solid #ffc451;
}

/*----------------------------*\
Main nav
\*----------------------------*/

.main-nav>li+li {
    margin-left: 30px
}

.main-nav>li>a {
    padding: 20px 0px;
    color: rgb(0, 0, 0);
}

.main-nav>li>a:hover {
    color: #ffc451;
    background-color: transparent;
}

.main-nav>li>a:focus {
    color: #ffc451;
    background-color: transparent;
}

.main-nav>li>a.active {
    color: #ffc451;
    background-color: transparent;
}

.main-nav>li>.under:after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background-color: #ffc451;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.main-nav>li>.under:hover:after {
    width: 100%;
}

.main-nav>li>.under:focus:after {
    width: 100%;
}

/* .main-nav>li>.under.active:after {
    width: 100%;
} */

.header-ctn li.nav-toggle {
    display: none;
}

/* .main-nav>li>a.mega:after {
    color: #51f3ff;
    background-color: transparent;
    background-color: #517aff;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
} */

/*----------------------------*\
responsive nav
\*----------------------------*/

@media only screen and (max-width: 991px) {
    .header-ctn .menu-toggle {
        display: inline-block;
    }

    #responsive-nav {
        position: fixed;
        left: 0;
        top: 0;
        background: #15161D;
        height: 100vh;
        max-width: 250px;
        width: 0%;
        overflow: hidden;
        z-index: 22;
        padding-top: 60px;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

    #responsive-nav.active {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        width: 100%;
    }

    .main-nav {
        margin: 0px;
        float: none;
    }

    .main-nav>li {
        display: block;
        float: none;
    }

    .main-nav>li+li {
        margin-left: 0px;
    }

    .main-nav>li>a {
        padding: 15px;
        color: #FFF;
    }
}

/*----------------------------*\
Megamenu 
\*----------------------------*/
.dropdown-mega .dropdown-menu {
    width: 100%;
}

.dropdown-mega h5 {
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    margin: 0;
}

.list-group-item {
    font-size: 16px;
    color: #3F3B51;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 12px 0;
}

.list-group-item:hover {
    color: #ffc451;
}