.product-item{
    border: 1px solid rgb(219, 219, 219);
}
.product-img{
    position: relative;
    overflow: hidden;
        height: 40vh;
        width: 100%;
        object-fit:cover ;
}
.btns{
    position: absolute;
    left: 0;
    bottom: -100%;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}
.btns button{
    border: none;
    background-color: rgb(39, 39, 39);
    color: #fff;
    transition: all 0.3s ease-in-out;
}
.btns button:hover{
    color: #fcb941;
}
.product-img:hover .btns{
    bottom: 0;
}

.heart-icon{
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 18px;
}

.product-type{
    font-size: 13px;
    opacity: 0.8;
}
.product-name{
    transition: all 0.3s ease-in-out;
}
.product-name:hover{
    color: #fcb941!important;
}
.product-price{
    color: #fcb941;
}
.rating{
    font-size: 13px;
}
.product-item{
    width: 300px;
}
/* .owl-prev {
    left: -30px;
}
.owl-next {
right: -50px;
}
.owl-prev , .owl-next {
    position:absolute;
    top: 90px;
}
.owl-prev span , .owl-next span{
    font-size: 80px;
    color: black;
}
.owl-theme , .owl-nav[class*="owl-"]:hover{
    background: transparent;
} */
.owl-nav button {
    position: absolute;
    top: 0;
    bottom: 0;
}

.owl-prev {
    left: -25px;
}

.owl-next {

    right: -40px;
}

.owl-nav button i {
    font-size: 25px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.owl-nav:hover button.owl-next:hover,
.owl-nav:hover button.owl-prev:hover {
    color: #ffc451;
    background: none;
    border: none;
}
